body {
  background-color: var(--background-color);
  color: white;
}

/* h6 {
  background-color: var(--background-color);
  color: white;
}

h5 {
  background-color: var(--background-color);
  color: white;
} */
