@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --ff-primary: 'Lato', sans-serif;
    --fw-reg: 400;
    --fw-med: 500;
    --fw-bold: 700;

    --background-color: #383535;;
    background-color: var(--background-color);
    color: white
}

