<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'welcome/style.css' %}" />
    <link rel="stylesheet" href="{% static 'welcome/edit.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
</head>

<body>
    <div class="header">
        <h1>Edit</h1>
    </div>    

    <div class="inputs">
        <input type="text" class="edit-input" placeholder="temp Name">
        <input type="text" class="edit-input" placeholder="temp  Language">
        <input type="date" class="edit-input" placeholder="temp Date Leaving" required>
        <input type="text" class="edit-input" placeholder="temp Genre">
        <input type="text" class="edit-input" placeholder="temp Age Rating">
        <input type="text" class="edit-input" placeholder="temp Length in Minutes">
        <input type="text" class="edit-input" placeholder="tempCompany Name">
    
    </div>




    <form action="put-media" method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Apply Edits" />
    </form>
</body>

</html>