<html lang="en-US">

<head>
    <meta charset="utf-8" />
    <title>Welcome page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
</head>

<body>
    <form action="put-media" method="post">
        {% csrf_token %}
        <label>This button will add a fixed media to the database. </label>
        <input type="submit" class="btn btn-primary" value="OK" />
    </form>
</body>

</html>